<%- include("../includes/header.ejs", {title:"Add New Skill"}); %>
<h1>Add New Skill</h1>
<form action="/skill/insert" method="get">
    Skill_name: <input id="skill_name" name="skill_name" type="text" size="30" maxlength="50"  />
    <br />
    Description: <input id="description" name="description" type="text" size="70" maxlength="256"  />
    <br />


    <br />
    <input type="submit" />

</form>
<%- include("../includes/footer.ejs"); %>